* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gilroy', sans-serif;
}

body {
  background-color: #1F2227;
  background-image: url('/src/img/Group 446.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}